# pyenv python configuration file
.python-version
.idea
.env

# others files
*.iml
*.xml
*ipynb_checkpoints
ProgramacionPython/.DS_Store
TallerReact/pokedex-app/node_modules
/docs/TallerPandas/02_taller_solucion.ipynb
movies2.xlsx
